<style>
  html,
  body,
  canvas {
    height: 300px;
    width: 100%;
  }

  #drag {
    position: absolute;
    width: 100px;
    height: 100px;
    background: red;
  }
  #drag::before{
    content:'';
    position: absolute;
    left:50%;
    top:0;
    transform:translateX(-50%);
    width: 5px;
    height: 5px;
    background: black;
  }
</style>
<div id="drag">fgfgfgfg</div>
<canvas></canvas>
<div id="log"></div>
<script>
  window.addEventListener('load', function () {
    const c1 = document.querySelector('canvas');
    const drag = document.querySelector('#drag');
    c1.addEventListener('touchstart', handleStart, false);
    c1.addEventListener('touchend', handleEnd, false);
    c1.addEventListener('touchmove', handleMove, false);


    const el = document.querySelector('#drag');
    let left;
    let top;
    let x;
    let y;
    let distX;
    let distY;

    drag.addEventListener('touchstart', function (e) {
      e.preventDefault();
      const touch = e.touches[0];
      x = touch.clientX;
      y = touch.clientY;
      left = elOffsetLeft(el);
      top = elOffsetTop(el);
      distX = x - left;
      distY = y - top;

      drag.addEventListener('touchmove', (e) => {
        dargMove(e)
      }, false);
    }, false);

    function dargMove(e) {
      e.preventDefault();
      const touch = e.touches[0];

      el.style.left = touch.clientX - distX + 'px';
      el.style.top = touch.clientY - distY + 'px';
    }

    drag.addEventListener('touchend', function (e) {
      e.preventDefault();
      drag.removeEventListener('touchmove', dargMove);
      const left = elOffsetLeft(el);
      const center = leftRight();

      if(left > center){
        console.log('right');
      }else if(left<center){
        console.log('left');
      }else{
        console.log('good lucky');
      }
    });

    function leftRight(){
      const t =  centerLine();
      const w = elOffsetWidth(el)/2;
      return t -w;
    }

    function centerLine(){
      const w = document.documentElement.offsetWidth;
      const t = w/2;
      return t;
    }

    function elOffsetWidth(el){
      return el.offsetWidth;
    }

    function elOffsetLeft(el) {
      const left = el.offsetLeft;
      return left;
    }

    function elOffsetTop(el) {
      const top = el.offsetTop;
      return top;
    }

    (function(){
      const line = document.createElement('div');
      const center = centerLine();
      line.style.cssText='position:absolute;top:0;left:'+center+'px;width:1px;height:100%;background:red;';
      (document.body || document.documentElement).appendChild(line);
    })()
  }, false)

  var ongoingTouches = [];

  function handleStart(e) {
    console.log(e.changedTouches[0], 'start');
    e.preventDefault();
    console.log("触摸开始。");
    var el = document.getElementsByTagName("canvas")[0];
    var ctx = el.getContext("2d");
    var touches = e.changedTouches;

    for (var i = 0; i < touches.length; i++) {
      console.log("开始第 " + i + " 个触摸 ...");
      ongoingTouches.push(copyTouch(touches[i]));
      var color = colorForTouch(touches[i]);
      ctx.beginPath();
      ctx.arc(touches[i].pageX, touches[i].pageY, 4, 0, 2 * Math.PI, false);
      // 在起点画一个圆。
      ctx.fillStyle = color;
      ctx.fill();
      console.log("第 " + i + " 个触摸已开始。");
    }
  }

  function handleMove(e) {
    console.log(e, 'move');
    e.preventDefault();
    var el = document.getElementsByTagName("canvas")[0];
    var ctx = el.getContext("2d");
    var touches = e.changedTouches;

    for (var i = 0; i < touches.length; i++) {
      var color = colorForTouch(touches[i]);
      var idx = ongoingTouchIndexById(touches[i].identifier);

      if (idx >= 0) {
        log("继续第 " + idx + "个触摸。");
        ctx.beginPath();
        log("ctx.moveTo(" + ongoingTouches[idx].pageX + ", " + ongoingTouches[idx].pageY + ");");
        ctx.moveTo(ongoingTouches[idx].pageX, ongoingTouches[idx].pageY);
        log("ctx.lineTo(" + touches[i].pageX + ", " + touches[i].pageY + ");");
        ctx.lineTo(touches[i].pageX, touches[i].pageY);
        ctx.lineWidth = 4;
        ctx.strokeStyle = color;
        ctx.stroke();

        ongoingTouches.splice(idx, 1, copyTouch(touches[i])); // 切换触摸信息
        console.log(".");
      } else {
        log("无法确定下一个触摸点。");
      }
    }
  }

  function handleEnd(e) {
    console.log(e, 'end');
    e.preventDefault();
    log("触摸结束。");
    var el = document.getElementsByTagName("canvas")[0];
    var ctx = el.getContext("2d");
    var touches = e.changedTouches;

    for (var i = 0; i < touches.length; i++) {
      var color = colorForTouch(touches[i]);
      var idx = ongoingTouchIndexById(touches[i].identifier);

      if (idx >= 0) {
        ctx.lineWidth = 4;
        ctx.fillStyle = color;
        ctx.beginPath();
        ctx.moveTo(ongoingTouches[idx].pageX, ongoingTouches[idx].pageY);
        ctx.lineTo(touches[i].pageX, touches[i].pageY);
        ctx.fillRect(touches[i].pageX - 4, touches[i].pageY - 4, 8, 8);
        // 在终点画一个正方形
        ongoingTouches.splice(idx, 1); // 用完后移除
      } else {
        log("无法确定要结束哪个触摸点。");
      }
    }
  }

  function log(msg) {
    var p = document.getElementById('log');
    p.innerHTML = msg + "\n" + p.innerHTML;
  }

  function colorForTouch(touch) {
    var r = touch.identifier % 16;
    var g = Math.floor(touch.identifier / 3) % 16;
    var b = Math.floor(touch.identifier / 7) % 16;
    r = r.toString(16); // 转换为十六进制字符串
    g = g.toString(16); // 转换为十六进制字符串
    b = b.toString(16); // 转换为十六进制字符串
    var color = "#" + r + g + b;
    log("identifier " + touch.identifier + " 触摸的颜色为：" + color);
    return color;
  }

  function copyTouch(touch) {
    return {
      identifier: touch.identifier,
      pageX: touch.pageX,
      pageY: touch.pageY
    };
  }

  function ongoingTouchIndexById(idToFind) {
    for (var i = 0; i < ongoingTouches.length; i++) {
      var id = ongoingTouches[i].identifier;

      if (id == idToFind) {
        return i;
      }
    }
    return -1; // 未找到
  }
</script>