.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  line-height: 0;
  height: 0;
  visibility: hidden;
}

#share-foot {
  margin: 0 auto;
}
.page-list .bottom-box {
  width: 100%;
  padding: 33.33333333px 0;
  margin-top: 33.33333333px;
  font-size: 13px;
  line-height: 26.66666667px;
  color: #8896a7;
  text-align: center;
}
.page-list .bottom-box a {
  color: #8896a7;
}
.page-list .bottom-box a:hover {
  color: #32c814;
}
.page-list .brand-box {
  display: flex;
  justify-content: space-between;
  padding: 38px 30px;
  margin-top: 16px;
}
.page-list .brand-box .brand-item {
  display: inline-flex;
  align-items: center;
}
.page-list .brand-box .brand-item .icon {
  width: 42.66666667px;
  height: 42.66666667px;
  margin-right: 9.33333333px;
  background: url(//pic5.40017.cn/i/ori/1b0MZ8SrcgE.png) no-repeat;
}
.page-list .brand-box .brand-item .icon.icon-product {
  background: url(//pic5.40017.cn/i/ori/1b0MZ8SrcgE.png) no-repeat -6.66666667px -6.66666667px;
  background-size: 210.66666667px;
}
.page-list .brand-box .brand-item .icon.icon-service {
  background: url(//pic5.40017.cn/i/ori/1b0MZ8SrcgE.png) no-repeat -62.66666667px -6.66666667px;
  background-size: 210.66666667px;
}
.page-list .brand-box .brand-item .icon.icon-policy {
  background: url(//pic5.40017.cn/i/ori/1b0MZ8SrcgE.png) no-repeat -6.66666667px -62.66666667px;
  background-size: 210.66666667px;
}
.page-list .brand-box .brand-item .icon.icon-attitude {
  background: url(//pic5.40017.cn/i/ori/1b0MZ8SrcgE.png) no-repeat -62.66666667px -62.66666667px;
  background-size: 210.66666667px;
}
.page-list .brand-box .brand-item .text-info .main-text {
  font-size: 18.66666667px;
  font-weight: 500;
  line-height: 26.66666667px;
  color: #8896a7;
}
.page-list .brand-box .brand-item .text-info .sub-text {
  font-size: 14.66666667px;
  line-height: 20px;
  color: #8896a7;
}
#right-fix-feedback {
  position: absolute;
  right: 106.66666667px;
  bottom: -140px;
  z-index: 880;
  width: 346.66666667px;
  padding: 13.33333333px 20px;
  font-size: 18.66666667px;
  cursor: initial;
  background-color: #fff;
  border: 1.33333333px #ccc solid;
  border-radius: 5.33333333px;
  box-shadow: 2.66666667px 1.33333333px 10.66666667px #484848;
  font-size: 14px;
}
#right-fix-feedback .fb-title {
  padding-bottom: 6.66666667px;
  font-size: 16px;
  border-bottom: 1.33333333px #ccc solid;
}
#right-fix-feedback .fb-close {
  float: right;
  cursor: pointer;
}
#right-fix-feedback .item-list .item {
  display: inline-block;
  width: 133.33333333px;
  margin: 5.33333333px 13.33333333px;
  cursor: pointer;
}
#right-fix-feedback .item-list .item > * {
  vertical-align: middle;
}
#right-fix-feedback .item-list .item .item-text {
  margin-left: 4px;
}
#right-fix-feedback .fb-textarea-info {
  width: 320px;
  max-width: 320px;
  height: 266.66666667px;
  max-height: 200px;
  padding: 2.66666667px;
  margin: 8px;
  border: 1.33333333px #ccc solid;
  border-radius: 5.33333333px;
}
#right-fix-feedback .fb-textarea-desc {
  margin-left: 5.33333333px;
  font-size: 17.33333333px;
  color: #999;
}
#right-fix-feedback .fb-btn-submit {
  display: inline-block;
  padding: 6.66666667px 26.66666667px;
  font-size: 18.66666667px;
  line-height: 21.33333333px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  background: linear-gradient(90deg, #32c814 0, #35ca14 100%);
  border: 0 solid #979797;
  border-radius: 5.33333333px;
}
#right-fix-feedback > div {
  margin-bottom: 13.33333333px;
}
#right-fix-feedback .fb-foot {
  text-align: center;
}
#right-fix-feedback .fb-textarea-info-warning {
  margin-left: 8px;
  font-size: 16px;
  color: #f60;
}
#right-fix-feedback .fb-textarea-info.warning {
  border: 1.33333333px #f60 solid;
}

.page-list .content {
  width: 1200px !important;
  margin: auto;
}

.why_choose_us {
  text-align: center;
}

.fake_check,
.hover_pro .hover_icon,
.int_line,
.sin_choose .choose_img {
  background: url(http://img1.40017.cn/cn/lvcang/home/login_line.png) no-repeat center center;
}

.choose_lc {
  padding: 30px 0 45px 0;
  width: 1200px;
  height: 210px;
  margin: 0 auto;
}

.sin_choose {
  width: 300px;
  display: inline-block;
  float: left;
}

.sin_choose .choose_img {
  width: 160px;
  height: 100px;
  background-position: 10px -100px;
  margin: 0 auto;
}

.choose_lc .sin_choose:nth-child(2) .choose_img {
  background-position: -125px -100px;
  width: 130px;
}

.choose_lc .sin_choose:first-child + .sin_choose .choose_img {
  background-position: -125px -100px;
  width: 130px;
}

.choose_lc .sin_choose:nth-child(3) .choose_img {
  background-position: -249px -100px;
  width: 130px;
}

.choose_lc .sin_choose:nth-child(4) .choose_img {
  background-position: -382px -100px;
  width: 130px;
}

.sin_choose p {
  color: #333;
  font-size: 18px;
  margin-bottom: 18px;
}

.sin_choose span {
  display: block;
  color: #5f5f5f;
  font-size: 12px;
  line-height: 22px;
}
