<configuration>
	<system.webServer>
		<handlers>
			<add name="iisnode" path="express-app/app.js" verb="*" modules="iisnode" resourceType="Unspecified" requireAccess="Script"
			 />
		</handlers>   

		<rewrite>
            <rules>
                <rule name="all">
                    <match url="/*" />
                    <action type="Rewrite" url="express-app/app.js" />
                </rule>
            </rules>
        </rewrite> 
        <iisnode  
            promoteServerVars="AUTH_USER,AUTH_TYPE"  
            debuggerPortRange="5058-6058"  
            debuggerPathSegment="debug_private"  
            maxNamedPipeConnectionRetry="3"  
            namedPipeConnectionRetryDelay="2000"  
        />  
  	</system.webServer>
 </configuration>