.wrapper {
  width: 1200px;
  margin: 35px auto;
}

.product-list {
  border-bottom: 1px solid #f0f0f0;
  background: #fff;
  padding: 0 21.33333333px;
}

.product-list .list-box {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.product-list .list-box .left-box {
  position: relative;
  width: 170px;
  height: 130px;
  margin-right: 16px;
  overflow: hidden;
  background: #d8d8d8;
  border-radius: 2.66666667px;
}

.product-list .list-box .left-box img {
  width: 100%;
  height: 100%;
}

.product-list .list-box .left-box .tag {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 44px;
  height: 24px;
  padding: 0 13.33333333px 0 10px;
  font-size: 14.66666667px;
  line-height: 24px;
  color: #fff;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 6.66666667px 0;
}

.product-list .list-box .left-box .tag:after {
  position: absolute;
  top: 0;
  right: -4px;
  width: 0;
  height: 0;
  content: '';
  border-top: 9.33333333px solid rgba(0, 0, 0, 0.7);
  border-right: 2px solid transparent;
  border-bottom: 9.33333333px solid transparent;
  border-left: 2px solid rgba(0, 0, 0, 0.7);
}

.product-list .list-box .left-box .gradient-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 46.66666667px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 1%, rgba(0, 0, 0, 0.6) 100%);
}

.product-list .list-box .left-box .img-text {
  padding: 0 6.66666667px;
  margin-top: 16px;
  overflow: hidden;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-list .list-box .right-box {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-bottom: 16px;
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
}

.product-list .list-box:last-child .right-box {
  border: none;
}

.product-list .list-box .info-box {
  flex: 1;
  height: 130px;
  overflow: hidden;
}

.product-list .list-box .info-box .title {
  display: -webkit-box;
  height: 48px;
  overflow: hidden;
  font-size: 17.33333333px;
  line-height: 24px;
  color: #666;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-list .list-box .info-box .title .main-title {
  font-size: 18.66666667px;
  font-weight: 700;
  color: #333;
}

.product-list .list-box .info-box .tags-list {
  height: 20px;
  margin-top: 6px;
  overflow: hidden;
}

.product-list .list-box .info-box .tags-list .tags-item {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  height: 20px;
  padding: 8px;
  margin-right: 5.33333333px;
  font-size: 12px;
  font-weight: 500;
  color: #32c814;
  border: 1px solid #32c814;
  border-radius: 2px;
}

.product-list .list-box .info-box .date,
.product-list .list-box .info-box .special {
  width: 100%;
  height: 18px;
  overflow: hidden;
  font-size: 13.33333333px;
  font-weight: 400;
  line-height: 18.66666667px;
  color: #666;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-list .list-box .info-box .special {
  margin-top: 9.33333333px;
}

.product-list .list-box .info-box .date {
  margin-top: 8px;
}

.product-list .list-box .price-box {
  position: relative;

  margin-left: 60px;
}

.product-list .list-box .price-box {
  text-align: right;
}

.product-list .list-box .price-box .price {
  font-size: 14px;
  line-height: 32.66666667px;
  color: #e25b00;
}

.product-list .list-box .price-box .price em {
  font-size: 16px;
}

.product-list .list-box .price-box .price span {
  margin: 0 4px;
  font-size: 26.66666667px;
  font-weight: 700;
}

.product-list .list-box .price-box .price i {
  position: relative;
  top: -2px;
}

.product-list .list-box .price-box .price-th {
  margin-top: 2px;
  font-size: 13.33333333px;
  line-height: 21.33333333px;
  color: #666;
}

.product-list .list-box .price-box .price-th em {
  margin-left: 2.66666667px;
}

.product-list .list-box .price-box .price-th span {
  margin-right: 1.33333333px;
  font-size: 15.33333333px;
}

.product-list .list-box .price-box .price-th i {
  position: relative;
  top: -1px;
}

.product-list .list-box .price-box .profit-box {
  margin-top: 4px;
}

.product-list .list-box .price-box .profit {
  display: inline-flex;
  height: 24px;
  padding: 0 8px;
  font-size: 13.33333333px;
  line-height: 24px;
  color: #fff;
  background: #ed8428;
  border-radius: 4px;
}

.product-list .list-box .price-box .profit em,
.product-list .list-box .price-box .profit span {
  font-size: 15.33333333px;
  font-weight: 500;
}

.product-list .list-box .price-box .profit em {
  margin-left: 5.33333333px;
}

.product-list .list-box .price-box .num {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 13.33333333px;
  font-weight: 400;
  line-height: 18.66666667px;
  color: #666;
}

.pager :deep(.el-pagination) {
  display: flex;
  justify-content: flex-end;
  padding: 16px 0;
}

.price-box :deep(.symbol) {
  font-weight: bold;
  font-size: 26px;
}

.price-box :deep(.money) {
  font-size: 16px;
  justify-content: flex-end;
}
