<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

<body>
       < % if (isLogin) { %>
      <p>未登录</p>
      <% else{ %>
        <p>登录</p>
      <% } %>
    <form action="/login" method="post">
        <input type="text" name="dfd" value="df">
        <input type="submit" value="提交">
        
      </form>

</body>

</html>