<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css"  href="/static/css/1.css" />
</head>

<body>
    <form action="http://127.0.0.1:3001/process_post" method="POST">
        First Name: <input type="text" name="first_name"> <br> Last Name: <input type="text" name="last_name">
        <input type="submit" value="Submit">
    </form>

    <form action="/dqr" method="get" enctype="multipart/form-data">
        <input type="file" name="image" size="50" />
        <br />
        <input type="submit" value="上传文件" />
    </form>
</body>

</html>