.city-wrapper {
  position: absolute;
  z-index: 1000;
  -webkit-box-shadow: 0 0 16px 2px rgb(0 0 0 / 20%);
  box-shadow: 0 0 16px 2px rgb(0 0 0 / 20%);
  width: 400px;
  background: #fff;
  padding: 10px 20px;
  color: #333;
  font-size: 12px;
}

.city-title {
  line-height: 40px;
  color: #999;
}

.city-title span {
  float: right;
  height: 12px;
  width: 12px;
  background: url(//img.dttrip.cn/pc/v2/tmc/pic_close.png) no-repeat 0 0;
  cursor: pointer;
  margin-top: 14px;
  background-position: 0 0;
}

.city-content {
  background: #fff;
}

.tabs {
  line-height: 24px;
}

.tabs .tab-navs {
  border-bottom: 1px solid #ddd;
}

.dtg-align-center {
  -webkit-box-align: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dtg-justify-between {
  -webkit-box-pack: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dtg-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs .tab-navs li {
  text-align: center;
  position: relative;
  cursor: pointer;
}

.tabs .tab-navs li.active {
  color: #50b400;
  font-weight: 700;
}

.tabs .tab-con {
  display: none;
  overflow: auto;
  padding: 10px;
  line-height: 24px;
  max-height: 332px;
}

.tabs .tab-con.active {
  display: block;
}

.city-item-1 {
  display: inline-block;
  width: 20%;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.city-wrapper:after {
  content: '';
  position: absolute;
  display: block;
  height: 0;
  width: 0;
  font-size: 0;
  line-height: 0;
  border-color: transparent transparent #fff;
  border-style: dashed dashed solid;
  border-width: 8px;
  background: 0;
  top: -15px;
  left: 15px;
}

.auto-wrapper {
  position: absolute;
  z-index: 1000;
  width: 400px;
  background: #fff;
  -webkit-box-shadow: 0 0 16px 2px rgb(0 0 0 / 20%);
  box-shadow: 0 0 16px 2px rgb(0 0 0 / 20%);
  line-height: 32px;
  font-size: 12px;
}

.auto-wrapper .title {
  padding: 0 10px;
  color: #999;
  border-bottom: 1px solid #e4e4e4;
}

.auto-wrapper .title span {
  float: right;
  height: 12px;
  width: 12px;
  background: url(//img.dttrip.cn/pc/v2/tmc/pic_close.png) no-repeat 0 0;
  cursor: pointer;
  margin-top: 10px;
}

.auto-list {
  padding-bottom: 10px;
}

.input-small {
  height: 100%;
  box-sizing: border-box;
  padding: 6px 0;
  border: none;
  border-radius: 5px;
  outline: none;
  width: 100%;
}

.auto-list li {
  cursor: pointer;
  color: #333;
  overflow: hidden;
  font-size: 13px;
}

.auto-list.hotel .line-br {
  border-top: 1px dashed #e4e4e4;
}

.auto-list.hotel li:first-child {
  border: none;
}

.auto-list li .auto-item,
.auto-list li .no-airport {
  padding: 4px 10px;
}

.auto-list li:hover .auto-item {
  background: #e4e4e4;
}

.auto-list li .auto-item span,
.auto-list li .no-airport span {
  color: #999;
  float: right;
}
