<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  {{name}}

  <script>
    const xhr = new XMLHttpRequest();
    xhr.open('get', '/binary', true);
    xhr.responseType = "blob";

    xhr.onreadystatechange = function () {
      if (xhr.status === 200 && xhr.readyState === 4) {
        var byteArray = new Uint8Array(xhr.response);
        console.log(xhr.response);
        const reader = new FileReader();
        reader.onload = function () {
          const content = reader.result;
          console.log('ArrayBuffer结果：', content);
        }
        reader.readAsArrayBuffer(xhr.response);
      }
    }
    xhr.send();
  </script>
</body>

</html>